body {
    margin: 0;
    padding: 0px;
}
* {
    font-family: Montserrat;
    max-width: 100%;
    font-weight: 700;
    
}

.container {
    max-width: 1440px;
    margin: auto;
    
    
}

.color_lightbg {
    position: relative;
    background-color: #e6f2ff;
    display: flex;
    align-items: center;
    margin: 0;
}

.header {
    max-width: 100%;
    display: flex;
    padding: 0px 100px;
    margin-left: 0px;
}

.site_id {
    font-size: 24px;
    color: #252B42;
    display: flex;
    align-items: center;
    font-weight: 700;
    padding-left: 76px;

}

.button {
    padding-left: 280px;
}
ul{
    margin: 0;
}

.link ul a {
    padding-left: 10px;
    font-size: 14px;
    color: #737373;
    text-decoration: none;
}


.hollow_button {
    color: #23A6F0;
    border: none;
    padding: 19px 30px 19px 30px;
    background-color: #e6f2ff;
    border-radius: 5px;
}

.filled_button {
    color: #FFFFFF;
    size: 14px;
    background-color: #23A6F0;
    padding: 15px 25px 15px 25px;
    border: none;
    border-radius: 5px;
    gap: 15px;
    display: inline-flex;
    align-items: center;
}

.home_page {
    display: flex;
    align-items: center;
    padding: 0px 56px;
}

.content_intro {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-bottom: 170px;
    padding-left: 120px;
    
}

.content_intro h3 {
    color: #23A6F0;
    font-size: 16px;
    padding-bottom: 20px;
    margin: 0;
}

.home_page h1 {
    font-size: 58px;
    width: 542px;
    margin: 0;

}

.home_page h2 {
    color: #737373;
    font-weight: 500;
    font-size: 20px;
    width: 338px;
    padding-top: 20px;
    margin: 0;
}

.home_page .hollow_button {
    color: #23A6F0;
    padding: 15px 25px 15px 25px;
    background-color: transparent;
    border-radius: 5px;
    border-style: solid;
    border-color: #23A6F0;
    border-width: 2px;
}

.home_page img {
    max-width: 100%;
    max-height: 696px;
    padding-left: 94px;
    padding-top: 16px
}

.boxes {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    gap: 30px;
    padding: 0px 0px;
    position: relative;
    bottom: 175px;
    left:0%
}

.box {
    max-width: 100%;
    box-shadow: 0px 13px 19px 0px #00000012;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 40px;
    gap: 20px;
    background-color: #FFFFFF;
    padding-left: 60px;
    padding-right: 60px;
}

 .boxicon {
    
    width: 70px;
    height: 76px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFFFFF;
    font-size: 40px;

}

 .box:nth-child(1)  .boxicon{
   background-color:#23A6F0 ;
}
.box:nth-child(2)  .boxicon{
    background-color:#40BB15 ;
 }
 .box:nth-child(3)  .boxicon{
    background-color: #3C403D;
 }
 


 


.box .material-symbols-outlined {
    justify-content: space-around;
    font-size: 37px;
    font-variation-settings:
        'FILL' 1,
        'GRAD' 0,
        'opsz' 48;
}

.box p {
    color: #737373;
    width: 222px;
    font-size: 14px;
    font-weight: 500;
    margin: 0;
}

.box_title::after {
    content: "";
    width: 50px;
    height: 2px;
    display: flex;
    background-color: #E74040;
    gap: 20px;
    margin-top: 25px;
}



.white_bg {
    margin: 10px 178px 0px 147px;
    display: flex;
    align-items: center;
    position: relative;

}

.contents {
    max-width: 100%;

    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.image {
    width: 675px;
    gap: 30px;
    margin-left: 40px;
}

.text {
    width: 400px;
    max-height: 292px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 40px;
    gap: 35px;
}

.white_bg h2 {
    color: #252B42;
    font-size: 40px;
    margin: 0;
}

.white_bg .para {

    font-weight: 400;
    font-size: 14px;
    color: #737373;
}

.white_bg .hollow_button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 0;
    width: 107px;
    height: 24px;
    gap: 10px;
    color: #23A6F0;
    background-color:transparent;
}

.logo {
    padding: 50px 0px 50px 25px;
    gap: 31px;
    display: flex;
    align-items: center;
}

.text::before {
    content: "";
    width: 94px;
    height: 7px;
    display: flex;
    background-color: #dd0c0c;
    gap: 20px;
    margin-top: 25px;
}

.material-symbols-outlined {
    
    font-variation-settings:
        'FILL' 0,
        'wght' 100,
        'GRAD' 0,
        'opsz' 24

}




.color_darkbg {
    background-color: #252B42;
    display: flex;
    align-items: center;
}

.fecility_advice {
    max-width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 65px 0px 75px 0px;
    gap: 10px;
    margin: 0;
}

.fecility_advice h6 {
    color: #23A6F0;
    margin: 0;

}

.fecility_advice h2 {
    color: #FFFFFF;
    font-size: 40px;
    margin: 0;
}

.fecility_advice .para p {
    width: 469px;
    height: 40px;
    font-size: 14px;
    color: #FFFFFF;
    font-weight: 400;
    margin: 0;
}

.fecilities {
    max-width: 100%;
    gap: 30px;
    display: flex;
    justify-content: center;
    padding-bottom: 185px;
}

.services {
    background-color: #FFFFFF;
    width: 340px;
}

.card_img {
    position: relative;
}

.card_icon {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 24px;
    gap: 10px;
}
.card_icon button{
    background-color: #FFFFFF;
    width: 47px;
    height: 47px;
    border-radius: 45px;
    border: none;
    padding-top: 7px;
}

.iconbg {
    width: 46px;
    height: 41px;
    border-radius: 44.79px;
    background: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 5px;

}
 .card_icon :nth-child(3) {
.material-symbols-outlined {
  font-variation-settings:
  'FILL' 1,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}

  
}


.card_icon .material-symbols-outlined {

    font-variation-settings:
        
        'wght' 400,
        'GRAD' 0,
        'opsz' 24
}

.cardtext {
    padding-left: 15px;
    padding-right: 15px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.servicestext {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 25px;
}

.engdep {
    width: 155px;
    height: 24px;
    color: #23A6F0;
    font-size: 14px;

}

.cardtext .star {
    display: flex;
    align-items: center;
    width: 50px;
    height: 20px;
    border-radius: 20px;
    gap: 5px;
    padding: 5px;
    background-color: #252B42;
}

.strimg {
    width: 23px;
    padding-left: 5px;
}

.cardtext .star p {
    color: #FFFFFF;
    font-weight: 400;
    font-size: 12px;
    width: 19px;
    margin: 0;
}

.cardtext h5 {

    color: #252B42;
    font-size: 16px;
    margin: 0;
}

.cardtext p {
    max-width: 100%;
    font-weight: 500;
    size: 14px;
    color: #737373;
    margin: 0;
}

.card_img::before {
    content: "sale";
    font-size: 16px;
    color: #FFFFFF;
    justify-content: center;
    width: 51px;
    height: 24px;
    display: flex;
    background-color: #E74040;
    margin-top: 25px;
    position: absolute;
    border-radius: 3px;
    padding-top: 3px;
    left: 5%;
}

.sale {

    display: flex;
    align-items: center;
    gap: 10px;
}

.dwnldicon .material-symbols-outlined {

    color: #3C403D;
    font-weight: 700;
}

.sale_count {
    width: 57px;
    height: 24px;
    font-size: 14px;
    color: #737373;
}

.price_margine {
    width: 126px;
    height: 34px;
    padding: 5px 3px 5px 3px;
    display: flex;
    align-items: center;
    gap: 5px;
}

.actual_value {
    width: 52px;
    height: 24px;
    color: #BDBDBD;
    size: 16px;

}

.corrent_value {
    width: 52px;
    height: 24px;
    color: #40BB15;
    size: 16px;
}

.sale_button {
    display: flex;
    align-items: center;
    gap: 0px;
    border: #23A6F0;
    padding-bottom: 15px;

}

.sale_button .hollow_button {
    background-color: transparent;
    border: 2px solid #23A6F0;
    color: #23A6F0;
    border-radius: 37px;
    display: flex;
    align-items: center;
    height: 48px;

}


.price_section {
    max-width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.advice {

    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    padding: 65px 0px 75px 0px;
}

.advice h6 {
    color: #23A6F0;
    margin: 0;
}

.advice h2 {
    color: #252B42;
    margin: 0;
}

.advice p {
    width: 469px;
    font-size: 14px;
    font-weight: 500;
    color: #737373;
    margin: 0;
}

.pricing {
    display: flex;
    gap: 30px;
    justify-content: center;
    position: relative;
}

.frame {
    width: 328px;
    gap: 35px;
    box-shadow: 0px 13px 19px 0px #00000012;
}

.information {
    margin-left: 39px;
    margin-right: 39px;
    margin-top: 51px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.frame .iconbg {
    width: 102px;
    height: 96px;
    border-radius: 200px;
    background-color: #23A6F0;
}

.j .material-symbols-outlined {
    color: #FFFFFF;
    font-size: 55px;
    font-variation-settings:
        'FILL' 1,
        'wght' 400,
        'GRAD' 0,
        'opsz' 24
}

.frame h6 {
    width: 176px;
    color: #737373;
    font-size: 14px;
}

.information p {
    color: #737373;
    font-weight: 400;
    margin: 0;

}

.amount h2 {
    font-size: 40px;
    color: #23A6F0;
}

.amount h5 {
    font-size: 14px;
    color: #8EC2F2;
}

.information .filled_button {
    display: flex;
    justify-content: center;
    padding: 15px 72px 15px 72px;
}

.feature {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-bottom: 25px;
}

.list {
    display: flex;
    align-items: center;
    width: 243px;
    height: 32px;
    gap: 10px;
}

.list .list_icon .material-symbols-outlined {
    font-size: 30px;
    background: #2DC071;
    color: #FFFFFF;
    border-radius: 200px;
}

.list_text {
    font-size: 14px;
    color: #252B42;

}

.list_non {
    display: flex;
    align-items: center;
    width: 243px;
    height: 32px;
    gap: 10px;
}

.list_non .list_icon .material-symbols-outlined {
    font-size: 30px;
    background: #BDBDBD;
    color: #FFFFFF;
    border-radius: 200px;
}

.list_non .list_text {
    font-size: 14px;
    color: #252B42;
}

.popup .iconbg {
    background-color: #E77C40;
    display: flex;
    align-items: center;
    width: 92px;
    height: 86px;
    border-radius: 200px;
    justify-content: center;
}

.popup .iconbg h5 {
    font-size: 24px;
    color: #FFFFFF;
    padding-bottom: 6px;
}

.popup {
    position: absolute;
    top: -3%;
    right: 31%;
}



.review_block{
    display: flex;
    align-items: center;
}
.blockes {
    max-width: 100%;
    display: flex;
    flex-direction: column;
    gap: 80px;
    padding: 107px 0px 160px 0px
}


.rating {
    display: flex;
    gap: 30px;
    max-width: 100%;
    justify-content: center;
}

.review {
    width: 275px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}
.star {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0;
}

.parastar {
    width: 156px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.ratestar {
    width: 195px;
}

.review .star .material-symbols-outlined {
    font-size: 28px;
    color: #F3CD03;
    font-variation-settings:
        'FILL' 1,
        'wght' 200,
        'GRAD' 0,
        'opsz' 24
}
.review .star :nth-child(5).material-symbols-outlined {
    font-size: 28px;
    color: #F3CD03;
    font-variation-settings:
        'FILL' 0,
        'wght' 200,
        'GRAD' 0,
        'opsz' 24
}

.review.star {
    display: flex;
    width: 0px;
    gap: 5px;
    background-color:none;
}

.review p  {
    width: 159px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    text-align: center;
    font-size: 14px;
    color: #737373;
    margin: 0;

}

.profile {
    display: flex;
    align-items: center;
    gap: 15px;
    padding-right: 12px;
    padding-top: 15px;
}

.profile img {
    width: 50px;
    height: 50px;
}

.profile_name h5 {
    font-size: 12px;
    color: #23A6F0;
    margin: 0;
}

.profile_name h6 {
    font-size: 10px;
    font-weight: 700;
    color: #252B42;
    margin: 0px;
}
.footer{
    margin-top: 51px;
    display: flex;
    flex-direction: column;
    gap: 70px;
}

.color_lightbg {
    max-width: 100%;
    background: #ECF4FF;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 35px;
}


.color_lightbg .para {
    align-items: center;
    padding-left: 0px;
    gap: 10px;
    padding-top: 0px;
}

.color_lightbg .advice {
    align-items: center;
    padding-left: 0px;

}.color_lightbg .advice p {
    width: 469px;
    font-size: 14px;
    font-weight: 500;
    text-align:center;
    color: #737373;
    margin: 0;
}

input {
    border:none;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    width: 470px;
    padding-left: 15px;
}

.subscribe {
    margin: 0px;
    padding-bottom: 80px;
    display: flex;
}


.more_info {
    display: flex;
    max-width: 100%;
    gap: 75px;
    align-items: center;
    justify-content: center;
}

.about {
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.about h5{
font-size: 16px;
font-weight: 700;
}
.contact h5{
font-size: 16px;
font-weight: 700;
}

.about ul {
    display: flex;
    flex-direction: column;
    gap: 12px;
    padding-left: 0px;
}

.about li {
    list-style: none;
}

.about a {
    color: #737373;
    font-size: 14px;
    text-decoration: none;

}

.contact {
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 345px;
}

.contact ul {
    padding: 0px;
    padding-top: 10px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.contact li {
    list-style: none;
}

.contact a {
    text-decoration: none;
    color: #737373;
    display: flex;
    
    align-items: center;
    font-size: 14px;

}
 h2,h3,h5,h6{
    margin: 0;
}
.contact .material-symbols-outlined {
    color: #23A6F0;
    font-size: 25px;
    font-weight: 700;
    font-variation-settings:
        'FILL' 1,
        'wght' 500,
        'GRAD' 0,
        'opsz' 24
}

.footer_tail {
    display: flex;
    align-items: center;
    gap: 47%;
    margin-bottom: 20px;
    margin-top: 85px;
}

.footer_tail p {
    font-size: 14px;
    color: #737373;
    font-weight: 700;
    margin: 0;
}

.platforms {
    gap: 20px;
    display: flex;
    align-items: end;
}


.fa {
    padding: 8px;
    font-size: 25px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    margin: 0px 2px;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
    background: #3B5998;
    color: white;
    border-radius: 200px;
    width: 14px;
    height: 14px;
}

.fa-twitter {
    background: #55ACEE;
    color: white;
    border-radius: 200px;
    width: 14px;
    height: 14px;
}

.fa-instagram {
    background: red;
    color: white;
    border-radius: 200px;
    width: 14px;
    height: 14px;
}

@media screen and (max-width: 600px) {}

.navigator {
    max-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.filled_button:hover{
    background: none;
    color: #23A6F0;
}

.link ul a:hover{
    color: #23A6F0;
}
input:hover{
    border-color: #23A6F0;
}
.card_icon button .material-symbols-outlined:hover {
    font-size: 250%;
}