body {
    margin: 0;
    padding: 0px;
}

* {
    font-family: Montserrat;
    max-width: 100%;
    font-weight: 700;

}

.container {
    max-width: 1050px;
    margin: auto;
    padding: 0 15px;

}

.color_lightbg {
    position: relative;
    background-color: #e6f2ff ;
    display: flex;
    align-items: center;
    margin: 0;
}

.navigator {
    max-width: 1050px;
    display: flex;
    padding: 20px 0;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
}
.navigator input {
    display: none;
}
.hamburger{
    display: none;
}
.close_manu{
    display: none;
}

.site_id {
    
    font-size: 24px;
    color: #252B42;
    display: flex;
    align-items: center;
    font-weight: 700;
}
.site_id h3{
    padding-right: 55px;

    font-size: 24px;
    color: #252B42;
}
.link ul{
    position: relative;
}

 .link ul {
    margin: 0;
    display: flex;
    gap: 21px;
    align-items: center;
    padding: 0;
}
.link li{
    list-style: none;
}

.link ul a {
    font-size: 14px;
    color: #737373;
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 0;
}


.hollow_button {
    color: #23A6F0;
    size: 14px;
    border-color: transparent;
    background-color: transparent;
    padding: 18px 25px 18px 25px;
    border-radius: 5px;
}

.filled_button {
    color: #FFFFFF;
    size: 14px;
    background-color: #23A6F0;
    
    padding: 15px 25px 15px 25px;
    border: 2px solid;
    border-radius: 5px;
    gap: 15px;
    display: inline-flex;
    align-items: center;
}

.banner {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.content_intro {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-bottom: 65px;

}

.content_intro h3 {
    color: #23A6F0;
    font-size: 16px;
    padding-bottom: 20px;
    margin: 0;
}

.banner h1 {
    font-size: 58px;
    width: 542px;
    margin: 0;

}

.banner h2 {
    color: #737373;
    font-weight: 500;
    font-size: 20px;
    width: 338px;
    padding-top: 20px;
    margin: 0;
}

.banner_buttons .hollow_button {
    color: #23A6F0;
    padding: 15px 25px 15px 25px;
    background-color: transparent;
    border-radius: 5px;
    border-style: solid;
    border-color: #23A6F0;
    border-width: 2px;
}



.banner img {
    display: flex;
    
}

.boxes{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    position: relative;
    bottom: 95px;
    gap: 10px;
    left: 0px
}

.box {
    max-width: 100%;
    box-shadow: 0px 13px 19px 0px #00000012;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 46px 50px 46px;
    gap: 20px;
    background-color: #FFFFFF;
}

.boxicon {

    width: 70px;
    height: 76px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFFFFF;
    font-size: 40px;

}

.box:nth-child(1) .boxicon {
    background-color: #23A6F0;
}

.box:nth-child(2) .boxicon {
    background-color: #40BB15;
}

.box:nth-child(3) .boxicon {
    background-color: #3C403D;
}






.box .material-symbols-outlined {
    justify-content: space-around;
    font-size: 37px;
    font-variation-settings:
        'FILL' 1,
        'GRAD' 0,
        'opsz' 48;
}

.box p {
    color: #737373;
    width: 222px;
    font-size: 14px;
    font-weight: 500;
    margin: 0;
}

.box_title::after {
    content: "";
    width: 50px;
    height: 2px;
    display: flex;
    background-color: #E74040;
    gap: 20px;
    margin-top: 25px;
}



.white_bg {
    display: flex;
    align-items: center;
    justify-content: center;

}

.contents {
    max-width: 100%;
    gap: 100px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}


.text {
    width: 360px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 40px;
    gap: 35px;
}

.white_bg h2 {
    color: #252B42;
    font-size: 40px;
    margin: 0;
}

.white_bg .para {

    font-weight: 400;
    font-size: 14px;
    color: #737373;
}

.white_bg .hollow_button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 0;
    width: 107px;
    gap: 10px;
    color: #23A6F0;
    background-color: transparent;
}

.logo {
    padding: 50px 0px 50px 0px;
    gap: 31px;
    display: flex;
    align-items: center;
}

.text::before {
    content: "";
    width: 94px;
    height: 7px;
    display: flex;
    background-color: #dd0c0c;
    gap: 20px;
    margin-top: 25px;
}

.material-symbols-outlined {

    font-variation-settings:
        'FILL' 0,
        'wght' 100,
        'GRAD' 0,
        'opsz' 24
}




.color_darkbg {
    background-color: #252B42;
    display: flex;
    align-items: center;
    justify-content: center;
}

.color_darkbg .advice {
    max-width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 65px 0px 75px 0px;
    gap: 10px;
    margin: 0;
}

.color_darkbg .advice h6 {
    color: #23A6F0;
    margin: 0;

}

.color_darkbg .advice h2 {
    color: #FFFFFF;
    font-size: 40px;
    margin: 0;
}

.color_darkbg .advice .para p {
    font-size: 14px;
    color: #FFFFFF;
    font-weight: 400;
    margin: 0;
}

.fecilities {
    max-width: 100%;
    gap: 30px;
    padding-bottom: 185px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
}

.services {
    background-color: #FFFFFF;
    width: 300px;
}

.card_img {
    position: relative;
}

.card_icon {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 24px;
    gap: 10px;
}

.card_icon button {
    background-color: #FFFFFF;
    width: 47px;
    height: 47px;
    border-radius: 45px;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.iconbg {
    width: 46px;
    height: 41px;
    border-radius: 44.79px;
    background: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 5px;

}

.card_icon :nth-child(3) {
    .material-symbols-outlined {
        font-variation-settings:
            'FILL' 1,
            'wght' 400,
            'GRAD' 0,
            'opsz' 24
    }


}


.card_icon .material-symbols-outlined {
    

    font-variation-settings:

        'wght' 400,
        'GRAD' 0,
        'opsz' 24
}

.cardtext {
    padding-left: 15px;
    padding-right: 15px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.servicestext {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 25px;
}

.engdep {
    width: 155px;
    color: #23A6F0;
    font-size: 14px;

}

.cardtext .star {
    display: flex;
    align-items: center;
    width: 50px;
    height: 20px;
    border-radius: 20px;
    gap: 5px;
    padding: 5px;
    background-color: #252B42;
}

.strimg {
    width: 23px;
    padding-left: 5px;
}

.cardtext .star p {
    color: #FFFFFF;
    font-weight: 400;
    font-size: 12px;
    width: 19px;
    margin: 0;
}

.cardtext h5 {

    color: #252B42;
    font-size: 16px;
    margin: 0;
}

.cardtext p {
    max-width: 100%;
    font-weight: 500;
    size: 14px;
    color: #737373;
    margin: 0;
}

.sale_tag {

    font-size: 16px;
    color: #FFFFFF;
    justify-content: center;
    width: 51px;
    display: flex;
    background-color: #E74040;
    position: absolute;
    border-radius: 3px;
    padding-top: 3px;
    padding-bottom: 3px;
    left: 5%;
    top: 15px;
}

.sale {

    display: flex;
    align-items: center;
    gap: 10px;
}

.dwnldicon .material-symbols-outlined {

    color: #3C403D;
    font-weight: 700;
}

.sale_count {
    width: 57px;
    height: 24px;
    font-size: 14px;
    color: #737373;
}

.price_margine {
    width: 126px;
    padding: 5px 3px 5px 3px;
    display: flex;
    align-items: center;
    gap: 5px;
}

.actual_value {
    width: 52px;
    height: 24px;
    color: #BDBDBD;
    size: 16px;

}

.corrent_value {
    width: 52px;
    height: 24px;
    color: #40BB15;
    size: 16px;
}

.sale_button {
    display: flex;
    align-items: center;
    gap: 0px;
    border: #23A6F0;
    padding-bottom: 15px;

}

.sale_button .hollow_button {
    background-color: transparent;
    border: 2px solid #23A6F0;
    color: #23A6F0;
    border-radius: 37px;
    display: flex;
    align-items: center;
    height: 48px;

}


.price_section {
    max-width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.advice {
    max-width: 615px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    padding: 65px 0px 75px 0px;
}

.advice h6 {
    color: #23A6F0;
    margin: 0;
}

.advice h2 {
    color: #252B42;
    margin: 0;
    font-size: 40px;
}

.advice p {
    font-size: 14px;
    font-weight: 500;
    color: #737373;
    margin: 0;
}

.pricing {
    display: grid;
    gap: 30px;
    grid-template-columns: 1fr 1fr 1fr;
}

.frame {
    position: relative;
    width: 300px;
    gap: 35px;
    box-shadow: 0px 13px 19px 0px #00000012;
}

.information {
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 51px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.frame .iconbg {
    width: 96px;
    height: 96px;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 200px;
    background-color: #23A6F0;
}

.j .material-symbols-outlined {
    color: #FFFFFF;
    font-size: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-variation-settings:
        'FILL' 1,
        'wght' 400,
        'GRAD' 0,
        'opsz' 24
}

.frame h6 {
    width: 176px;
    color: #737373;
    font-size: 14px;
}

.information p {
    color: #737373;
    font-weight: 400;
    margin: 0;

}

.amount h2 {
    font-size: 40px;
    color: #23A6F0;
}

.amount h5 {
    font-size: 14px;
    color: #8EC2F2;
}

.information .filled_button {
    display: flex;
    justify-content: center;
    padding: 15px 72px 15px 72px;
}

.feature {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-bottom: 25px;
}

.list {
    display: flex;
    align-items: center;
    width: 243px;
    gap: 10px;
}

.list .list_icon .material-symbols-outlined {
    font-size: 30px;
    background: #2DC071;
    color: #FFFFFF;
    border-radius: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.list_text {
    font-size: 14px;
    color: #252B42;

}

.list_non {
    display: flex;
    align-items: center;
    width: 243px;
    height: 32px;
    gap: 10px;
}

.list_non .list_icon .material-symbols-outlined {
    font-size: 30px;
    background: #BDBDBD;
    color: #FFFFFF;
    border-radius: 200px;
}

.list_non .list_text {
    font-size: 14px;
    color: #252B42;
}

.popup .iconbg {
    background-color: #E77C40;
    display: flex;
    align-items: center;
    width: 86px;
    height: 86px;
    border-radius: 200px;
    justify-content: center;
}

.popup .iconbg h5 {
    font-size: 24px;
    color: #FFFFFF;
    padding-bottom: 6px;
}

.popup {
    position: absolute;
    top: -3%;
    right: 0;
    left: 70%;
}



.review_block {
    display: flex;
    align-items: center;
}

.blockes {
    max-width: 100%;
    display: flex;
    flex-direction: column;
    gap: 80px;
    padding: 107px 0px 160px 0px
}


.rating {
    display: grid;
    gap: 30px;
    max-width: 100%;
    grid-template-columns: 1fr 1fr 1fr;
}

.review {
    width: 275px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

.star {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0;
}

.parastar {
    width: 156px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.ratestar {
    width: 195px;
}

.review .star .material-symbols-outlined {
    font-size: 28px;
    color: #F3CD03;
    font-variation-settings:
        'FILL' 1,
        'wght' 200,
        'GRAD' 0,
        'opsz' 24
}

.review .star :nth-child(5).material-symbols-outlined {
    font-size: 28px;
    color: #F3CD03;
    font-variation-settings:
        'FILL' 0,
        'wght' 200,
        'GRAD' 0,
        'opsz' 24
}

.review.star {
    display: flex;
    width: 0px;
    gap: 5px;
    background-color: none;
}

.review p {
    width: 159px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    text-align: center;
    font-size: 14px;
    color: #737373;
    margin: 0;

}

.profile {
    display: flex;
    align-items: center;
    gap: 15px;
    padding-right: 12px;
    padding-top: 15px;
}

.profile img {
    width: 50px;
    height: 50px;
}

.profile_name h5 {
    font-size: 12px;
    color: #23A6F0;
    margin: 0;
}

.profile_name h6 {
    font-size: 10px;
    font-weight: 700;
    color: #252B42;
    margin: 0px;
}



.color_lightbg {
    max-width: 100%;
    background: #ECF4FF;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 35px;
}


.color_lightbg .para {
    align-items: center;
    padding-left: 0px;
    gap: 10px;
    padding-top: 0px;
}

.color_lightbg .advice {
    align-items: center;
    padding-left: 0px;

}

.color_lightbg .advice p {
    width: 469px;
    font-size: 14px;
    font-weight: 500;
    text-align: center;
    color: #737373;
    margin: 0;
}

input {
    border-radius: 5px 0px 0px 5px;
    width: 470px;
    padding-left: 15px;
    height: 40px;
    border-color: #FFFFFF;
    border-style: solid;
}

.subscribe {
    margin: 0px;
    padding-bottom: 80px;
    border-radius: 0px 5px 5px 0px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.subscribe .filled_button{
    border-radius: 0px 5px 5px 0px;
    height: 45px;
    border-color: #23A6F0;
}


.footer {
    margin-top: 51px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1.5fr;
}

.about {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.about h5 {
    font-size: 16px;
    font-weight: 700;
}

.contact h5 {
    font-size: 16px;
    font-weight: 700;
}

.about ul {
    display: flex;
    flex-direction: column;
    gap: 12px;
    padding-left: 0px;
}

.about li {
    list-style: none;
}

.about a {
    color: #737373;
    font-size: 14px;
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 10px;

}


h2,h3,h5,h6 {
    margin: 0;
}

.about .material-symbols-outlined {
    color: #23A6F0;
    font-size: 25px;
    font-weight: 700;
    font-variation-settings:
        'FILL' 1,
        'wght' 500,
        'GRAD' 0,
        'opsz' 24
}

.footer_tail {
    display: flex;
    align-items: center;
    gap: 47%;
    margin-bottom: 20px;
    margin-top: 85px;
    
}

.footer_tail p {
    font-size: 14px;
    color: #737373;
    font-weight: 700;
    margin: 0;
}

.platforms {
    gap: 20px;
    display: flex;
    align-items: end;
}


.fa {
    padding: 8px;
    font-size: 25px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    margin: 0px 2px;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
    background:#23A6F0;
    color: white;
    border-radius: 200px;
    width: 14px;
    height: 14px;
}

.fa-twitter {
    background-color: #23A6F0;
    color:white;
    border-radius: 200px;
    width: 14px;
    height: 14px;
}

.fa-instagram {
    background-color: #E74040;
    color:white;
    border-radius: 200px;
    width: 16px;
    height: 16px;
    font-size: 28px;
}





.filled_button:hover {
    background: none;
    color: #23A6F0;
    border: 2px solid;
    border-color: #23A6F0;
}
.hollow_button:hover{
    background-color: #23A6F0;
    color: #FFFFFF;
}

.link ul a:hover {
    color: #23A6F0;
}

.card_icon button .material-symbols-outlined:hover {
    font-size: 250%;
}
.card_img img{
    height: 300px;
}
.filled_button{
    border-color: #23A6F0;
}
.text .hollow_button:hover{
    background-color: transparent;
    color: #23A6F0;
}
.link .material-symbols-outlined{
    font-size: 35px
}
.dropdown ul{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0px;

}
.dropdown li {
    padding: 10px 10px;
}
.dropdown{
    display: none;
    max-width: 130px;
    position: absolute;
    top: 100%;
    background-color: #FFFFFF;
}
.link li:hover .dropdown{
    display: block;
}
