@media(max-width:1024px){
    .container{
        padding: 0px 15px;
    }
    .banner h1{
        font-size: 56px;
    }
    .boxes{
        top: -40px;

    }
    .box{
        padding: 35px 35px;
    }
    .image img{
        width: 450px;
    }
    .pricing{
        gap: 15px;
    }
    .services{
        max-width: 306px;
    }
    .color_darkbg .advice .para p{
        width: 450px;
    }
    .advice p{
        width: 550px;
    }
    .frame{
        width: 300px;
    }
    .information{
        margin: 30px 30px 0px 30px;
    }
    .footer_tail{
        gap: 0;
        justify-content: space-around;
    }
    .fecilities{
        gap: 15px;
    }
}
@media(max-width:768px){
    
    .container{
        margin: auto;
        padding: 0px 25px;
        
    }
    .hamburger .material-symbols-outlined{
        font-size: 40px; 
        color:black;
    }
.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}
    .banner{
        justify-content: center;
        flex-direction: column;
    }
    .banner .picture img{
        display: none;
    }
    #check:checked~ul{
        top: 0;
        left: 0;
    }
    .link a .material-symbols-outlined{
        display: none;
    }
    .link a{
        height: 30px;
    }
    
    .site_id ul{
        flex-direction: column;
        align-items: center;
        position: fixed;
        left: 0%;
        top: -100%;
        margin: 0;
        padding: 0;
        background-color:#aec8ec;
        width: 100%;
        transition: all 0.5s ease-in-out;
    }
    .link li:hover{
        background-color:;
    }
    .hamburger span {
        display: flex;
        align-items: center;
    }
    .hamburger {
        display: block;
    }
    .content_intro{
        text-align: center;
        align-items: center;
        margin-top: 30px;
    }
    .site_id h3{
        font-size: 18px;
        padding: 0;
    }
    .site_id{
        gap: 20px;
    }
    

    .banner h1{
        width: 550px;
        font-size: 54px;
    }
    .boxes{
        display: grid;
        grid-template-columns: 1fr 1fr;
        position: relative;
        bottom: 32px;
        gap: 10px;
    }
    .box{
        text-align: center;
        align-items: center;
    }
    .box_title {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .contents{
        gap:0;
    }
    .color_darkbg .advice{
        width: 550px;
        align-items: center;
        text-align: center;
    }
    .contended{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .logo{
        padding-left: 0;
    }
    .color_darkbg .fecilities {
        gap: 20px;
        padding-bottom: 185px;
       display: flex;
       flex-wrap: wrap;
       justify-content: center;
    }
    .fecilities .services {
        width: 286px;
    }
    .color_darkbg .advice h2 {
        font-size: 36px;
    }
    .color_darkbg .advice .para p{
        width: 450px;
    }

    .card_img img{
        width: 369px;
    }
    .advice{
        width: 550px;
        align-items: center;
        text-align: center;
    }
    .advice p{
        width: 450px;
    }
    .white_bg .pricing {
        gap: 15px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
      
    }
    .rating{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 0px;
    }
    .popup {
        position: absolute;
        top: -2%;
        right: 0%;
    }
    .review{
        width: auto;
    }
    input{
        width: 250px;
    }
    .footer{
        grid-template-columns: 1fr 1fr 1fr;
    }
    .about{
        padding-top: 30px;
    }
    .about ul{
        margin: 0;
    }
    .footer_tail{
        align-items: center;
        justify-content: space-around;
        gap: 10px;
    }
    .advice h2{
        font-size: 38px;
    }
}
@media(max-width:600px){
    .container{
        margin: auto;
        padding: 0px 25px;
        
    }
    .banner h1{
        width: 492px;
        font-size: 38px;
    }
    .boxes{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .color_darkbg .advice h2 {
        font-size: 27px;
    }
    .advice h2{
        font-size: 28px;

    }
    .color_darkbg .advice {
        width: 380px;
    }
    .advice {
        width: 385px;
    }
    .rating{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
}

@media(max-width:540px){
    .container{
        margin: auto;
        padding: 0px 20px;
        
    }
    .advice h2{
        font-size: 28px;
    }
    .site_id {
        gap: 10px;
    }
    .site_id h3{
        font-size: 18px;
    }
    .hollow_button{
        padding: 10px 14px;
    }
    .banner_buttons .hollow_button {
        padding: 12px 25px 12px 25px;
    }
    .banner_buttons .filled_button {
        padding: 11px 12px 11px 12px;
    }
    .filled_button{
        padding: 7px 8px;
        gap: 5px;
    }
    .navigator{
        justify-content: space-between;
    }
    .banner h1{
        font-size: 30px;
        width: 380px;
    }
    .boxes {
        grid-template-columns: 1fr;
        
        
    }
    .box{
        width: ;
    }
    .box_title {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .color_darkbg .advice h2 {
        font-size: 26px;
    }
    .image img{
        display: none;
    }
    .contents .text{
        width: 280px;
        align-items: center;
        justify-content: center;
        text-align: center;
    }
    
    .color_darkbg{
        align-items: center;
    }
    .fecilities{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .services{
        width: 350px;
    }
    .card_img img {
        width: 410px;
    }
    .white_bg .pricing {
        gap: 0;
        display: flex;
        flex-direction: column;
        align-items: center;

    }
    .frame{
        align-items: center;
    }
    .logo{
        gap: 0;
    }
    .list_text{
        font-size: 12px;
    }
    .list_non .list_text{
        font-size: 12px;
    }
    .information{
        align-items: center;
        text-align: center;
    }
    .advice {
        width: 380px;
        align-items: center;
        text-align: center;
    }
    
    .color_lightbg .advice {
        width: 380px;
    }
    .rating{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    .text h2{
        font-size: 24px;
    }
    .text::before {
        content: "";
        width: 70px;
        height: 5px;
        display: flex;
        background-color: #dd0c0c;
        gap: 20px;
        margin-top: 25px;
    }
    .footer{
        grid-template-columns: 1fr 1fr;

    }

}


@media(max-width:420px){
    .container{
        padding: 0px 10px;
    }    
    .button .hollow_button{
        display: none;
        
    }
    .site_id .hollow_button{
        display: block;
        color: #737373;
        font-size: 14px;
    }
    .site_id .hollow_button:hover{
        background-color: transparent;
        color: #23A6F0;
    }
    .hamburger .material-symbols-outlined {
        font-size: 32px;
    }
    .banner h1{
        font-size: 24px;
        width: 300px;
    }
    .banner h2{
        font-size: 16px;
        width: 300px;
    }
    .boxes{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .box{
        padding: 20px 0px;
        width: 300px;
    }
    .image img{
        display: none;
    }
    .contents{
        align-items: center;
        justify-content: center;
    }
    .text{
        align-items: center;
        justify-content: center;
        text-align: center;
        padding: 35px 0px ;
    }
    .text h2{
        font-size: 22px;
    }
    .text .hollow_button{
        padding: 18px 0px;
    }
    .logo{
        padding: 50px 0px;
    }
    .color_darkbg .advice h2 {
        font-size: 20px;
    }
    .color_darkbg .advice{
        width: 300px;
    }
    .advice h2 {
        font-size: 22px;
    }
    .advice p{
        font-size: 12px;
        width: 350px;
    }
    .frame .iconbg {
        width: 80px;
        height: 80px;
    }
    .j .material-symbols-outlined {
        font-size: 42px;
    }
    .information h3{
        font-size: 16px;
    }
    .information p{
        font-size: 14px;
    }
    .frame .popup .iconbg{
        width: 72px;
        height: 72px;
    }
    .popup{
        width: 73px;
    }
    .popup .iconbg h5 {
        font-size: 20px;
    }
    .rating {
        grid-template-columns: 1fr;
    }
    .color_lightbg .advice p {
        width: 350px;
    }
    .color_lightbg .advice {
        width: 300px;
    }
    .advice{
        width: 300px;
    }
    .subscribe{
        width: 300px;
    }
    .footer{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .about{
        align-items: center;
        justify-content: center;
    }
    .about ul{
        align-items: center;
        justify-content: center;
    }
    .about a{
        gap: 0;
        font-size: 13px;
    }
    .footer_tail p {
        font-size: 10px;
    }
    .platforms{
        gap: 5px;
    }
    .fa-facebook{
        width: 12px;
        height: 12px;
    }
    .fa-instagram{
        width: 14px;
        height: 14px;
    }
    .para p{
        font-size: 12px;
    }
    .footer_tail{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    .fecilities{
        width: 285px;
    }
    .filled_button {
        border-radius: 5px 5px 5px 5px;
        height: 42px;
    }
    .site_id h3{
        padding-right: 0;
        font-size: 16px;
    }

}
@media(max-width:320px){
    .container{
        padding: 0px 10px;

    }
    .site_id{
        font-size: 16px;
    }
    .navigator{
        align-items: center;
    }
    .banner h3{
        font-size: 12px;
    }
    .banner h1{
        font-size: 20px;
        width: 365px;
    }
    .banner h2{
        font-size: 16px;
        width: 280px;
    }
    .filled_button {
        padding: 10px 12px;
        height: 38px;
    }
    .banner_buttons .hollow_button{
        padding: 10px 13px;
        
    }
    .content_intro{
        width: 300px;
    }
    .box {
        padding: 15px 0px;
        width: 300px;
    }
    .text {
        width: 280px;
    }
    .advice{
        width: 300px;
    }
    .color_darkbg .advice {
        width: 300px;
    }
    .frame {
        width: 300px;
    }
    .subscribe {
        width: 300px;
    }
    .color_lightbg .advice{
        width: 300px;
    }
}

@media(max-width:966px){
    .fecilities{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    .color_darkbg .advice {
        align-items: center;
        text-align: center;
    }
    .pricing{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    .contended .advice{
        align-items: center;
        text-align: center;
        max-width: 100%;
    }
    
    .boxes{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    .blockes{
        justify-content: center;
        align-items: center;
    }
}
 @media(max-width:934px){
    .banner img{
        display: none;
    }
    .banner{
        align-items: center;
        justify-content: center;
        text-align: center;

    }
    .rating{
        gap: 0px;
    }
    .review{
        width: 235px;
    }

    .content_intro{
        justify-content: center;
        align-items: center;
    }
    .navigator .site_id h3{
        font-size: 18px;
    }
}