
@media(max-width:768px){
    .container{
        margin: auto;
        padding: 0px 45px;
        
    }
    .hamburger .material-symbols-outlined{
        font-size: 40px; 
        color: #23A6F0;
    }
.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}
    .banner{
        justify-content: center;
        flex-direction: column;
    }
    .banner img{
        display: none;
    }
    .link{
        display: none;
    }
    .content_intro{
        text-align: center;
        margin-top: 30px;
    }
    .navigator{
        gap: 80px;
    }
    .site_id{
    
        gap: 20px;
    }
    .banner h2{
        width: auto;
    }
    .boxes{
        display: grid;
        grid-template-columns: 1fr 1fr;
        position: relative;
        bottom: 32px;
    }
    .box{
        text-align: center;
        align-items: center;
    }
    box_title {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .contents{
        gap:0;
    }
    .color_darkbg .advice{
        align-items: center;
        text-align: center;
    }
    .fecilities {
        gap: 30px;
        padding-bottom: 185px;
        display: grid;
        grid-template-columns: 1fr 1fr ;
    }
    .card_img img{
        width: 369px;
    }
    .advice{
        align-items: center;
        text-align: center;
    }
    .pricing {
        display: grid;
        gap: 30px;
        grid-template-columns: 1fr 1fr;
    }
    .popup {
        top: -2%;
        right: 12%;
    }
    .review{
        width: auto;
    }
    input{
        width: 250px;
    }
    .footer{
        grid-template-columns: 1fr 1fr 1fr;
    }
    .about{
        padding-top: 30px;
    }
    .about ul{
        margin: 0;
    }
    .footer_tail{
        align-items: center;
        justify-content: space-around;
        gap: 10px;
    }
}
@media(max-width:540px){
    .container{
        margin: auto;
        padding: 0px 25px;
        
    }
    .advice h2{
        font-size: 28px;
    }
    .site_id h3{
        font-size: 16px;
    }
    .hollow_button{
        padding: 15px 18px;
    }
    .filled_button{
        padding: 12px 15px;
    }
    .navigator{
        justify-content: center;
    }
    .banner h1{
        font-size: 36px;
        width: 490px;
    }
    .boxes {
        grid-template-columns: 1fr;
    }
    .box_title {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .color_darkbg .advice h2 {
        font-size: 28px;
    }
    .color_darkbg .advice{
        width: 490px;
    }
    .color_darkbg{
        align-items: center;
    }
    .fecilities{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .services{
        width: 350px;
    }
    .card_img img {
        width: 410px;
    }
    .pricing {
        gap: 0;
        display: flex;
        flex-direction: column;
        align-items: center;

    }
    .frame{
        align-items: center;
    }
    .information{
        align-items: center;
        text-align: center;
    }
    .advice {
        width: 490px;
        align-items: center;
        text-align: center;
    }
    
    .color_lightbg .advice {
        width: 490px;
    }
    .rating{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    .text h2{
        font-size: 24px;
    }
    .text::before {
        content: "";
        width: 70px;
        height: 5px;
        display: flex;
        background-color: #dd0c0c;
        gap: 20px;
        margin-top: 25px;
    }
    .popup{
        top: 33%;
        left: 69%;
    }

}
